
header#header
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.navbar-brand(href="/") Node.js Passport Boilerplate
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.nav-pills.pull-right
            li link
