
header#header
  .navbar.navbar-inverse
    .navbar-inner
      .container
        a.navbar-brand(href="/")= APP_NAME
          small=" ("+VERSION+")"
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.nav-pills.pull-right
            li
              a(href="/tickets") Tickets
            li
              a(href="/workers") Workers
