extends ../layouts/default

block pageHeader
  .page-header
    h1 All Tickets
  ul.nav.nav-tabs
    li.active
      a All
    li
      a In Processing
    li
      a Completed
    li
      a Abandoned

block content
  table.table
    thead
      th status
      th id
      th title
      th category
      th updated at
      th

    each ticket in tickets
      tr
        td
          !=helper.genLabelByStatus(ticket.status)
        td
          code=ticket.id
        td
          a(href="/tickets/#{ticket.id}")=ticket.title
        td=ticket.category
        td
          !=helper.genDateTag(ticket.updated_at)
        td
          a(href="/tickets/#{ticket.id}")
            i.fa.fa-chevron-right











